@mixin breakpoint($device) {
  @if ($device == 'on-mobile') {
    @media (max-width: $on-mobile) {
      @content;
    }
  }

  @if ($device == 'up-mobile') {
    @media (min-width: $up-mobile) {
      @content;
    }
  }

  @if ($device == 'on-tablet') {
    @media (max-width: $on-tablet) {
      @content;
    }
  }

  @if ($device == 'up-tablet') {
    @media (min-width: $up-tablet) {
      @content;
    }
  }

  @if ($device == 'on-desktop') {
    @media (max-width: $on-desktop) {
      @content;
    }
  }
}

@mixin font-size($fontSize) {
  font-size: $fontSize;
  font-size: #{$fontSize / $base-font-size}rem;
}
