// Font Settings
$base-font-family: 'Lato', sans-serif;
$base-font-weight-regular: 400;
$base-font-weight-bold: 700;
$base-font-size: 16px;
$base-line-height: 1;

// Color Settings
$primary-color: #000;
$secondary-color: #000;
$text-color: #000;
$title-color: #000;
$base-background: #fff;

// Breakpoint Size
$on-mobile: 767px;
$up-mobile: 768px;
$on-tablet: 991px;
$up-tablet: 992px;
$on-desktop: 1199px;
